# SPDX-FileCopyrightText: <text>Copyright 2025 Arm Limited and/or
# its affiliates <open-source-office@arm.com></text>
# SPDX-License-Identifier: Apache-2.0

autoflake==2.3.1
bandit==1.7.6
black==23.12.1
blocklint==0.2.4
isort==5.13.2
nbqa==1.9.1
pre-commit==3.6.0
pylint==3.2.6
reuse==3.0.1